{% load static %}
{% load cs_auth_tags %}
{% user_college_pk as user_college_id %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="data:;base64,=">


    <title>ERP</title>

    <link href="{% static "css/fonts.css" %}" rel="stylesheet" />
    <link href="{% static "lib/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">

    <link href="{% static "css/lib_stripped.css" %}" rel="stylesheet">

    <link href="{% static "css/material_checkbox.css" %}" rel="stylesheet">

    <link href="{% static "css/vendor/normalize.min.css" %}" rel="stylesheet" />
    <link href="{% static "lib/@blueprintjs/core/lib/css/blueprint.min.css" %}" rel="stylesheet" />
    <link href="{% static "lib/@blueprintjs/icons/lib/css/blueprint-icons.css" %}" rel="stylesheet" />



    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/app.css" %}" rel="stylesheet">

    {% block css %}
    {% endblock css %}
</head>

<body class="toggle-si4debar">


    <div class="sidebar">
        <div class="sidebar-header">
            <div>
                <a href="/" class="sidebar-logo"><span>ERP</span></a>
                <small class="sidebar-logo-headline"></small>
            </div>
        </div>

        {% comment %} {% include "sl/partials/sidebar.html" %} {% endcomment %}

        <div id="dpSidebarBody" class="sidebar-body" style="overflow: auto;">
            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Navigation</label></li>

                {% check_type 0 as chres %}
                {% if chres %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:manage' %}" class="nav-link {% block sn-manage %}{% endblock %}">
                        <i data-feather="folder"></i>
                        Manage
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-transfers' %}" class="nav-link {% block sn-transfers %}{% endblock %}">
                        <i data-feather="layers"></i>
                        Staff Transfers
                    </a>
                </li>
                {% endif %}

                {% check_type 1 as chres %}
                {% if chres %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-staff' user_college_id %}"
                        class="nav-link {% block sn-staff %}{% endblock %}">
                        <i data-feather="users"></i>
                        Staff
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-sections' user_college_id %}"
                        class="nav-link {% block sn-sections %}{% endblock %}">
                        <i data-feather="layers"></i>
                        Sections
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-timetable' user_college_id %}"
                        class="nav-link {% block sn-tables %}{% endblock %}">
                        <i data-feather="grid"></i>
                        Time Tables
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sl_u:today-atnd' user_college_id %}"
                        class="nav-link {% block sn-atnd %}{% endblock %}">
                        <i data-feather="user-check"></i>
                        Attendance
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-lecture-today' user_college_id %}"
                        class="nav-link {% block sn-lecrd %}{% endblock %}">
                        <i data-feather="clipboard"></i>
                        Lecture Recording
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="{% url 'sl_u:view-holidays' user_college_id %}"
                        class="nav-link {% block sn-hldays %}{% endblock %}">
                        <i data-feather="package"></i>
                        Holidays
                    </a>
                </li> {% endcomment %}
                {% endif %}

            </ul>

            <hr>

            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Reporting</label></li>

                {% comment %} <li class="nav-item">
                    <a href="{% url 'sl_u:view-reports-main' %}" class="nav-link {% block sn-reports %}{% endblock %}">
                        <i data-feather="bar-chart-2"></i>
                        Reports
                    </a>
                </li> {% endcomment %}



            </ul>

        </div>

    </div>

    <div class="content content-page">

        <div class="header">
            <div class="header-left">
                <a href="" class="burger-menu"><i data-feather="menu"></i></a>

            </div>

            <div class="header-right">
                {% comment %} <button class="bp3-button bp3-outlined bp3-intent-danger bp3-icon-log-out"
                    {% endcomment %} {% comment %} onclick="location.href='{% url 'sl_u:logout' %}'">Logout</button>
                {% endcomment %}

                <button class="bp3-button bp3-outlined bp3-intent-danger bp3-fill"
                    onclick="location.href='{% url 'sl_u:logout' %}'">
                    <span class="bp3-button-text">Logout</span>
                    <span class="bp3-icon bp3-icon-log-out"></span>
                </button>
            </div>
        </div>

        <div class="content-header justify-content-between">
            <div>
                <h4 class="content-title">
                    {% comment %} <h2 class="bp3-heading content-title"> {% endcomment %}
                        {% block title %}{% endblock %}
                        {% comment %} </h2> {% endcomment %}
                </h4>
            </div>
        </div>

        <div class="content-body">


            {% if messages %}
            {% for message in messages %}

            <div class="app-alert bp3-callout
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} bp3-icon-error bp3-intent-danger
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} bp3-icon-tick-circle bp3-intent-success
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} bp3-icon-warning-sign bp3-intent-warning
                        {% endif %}
                        " style="margin-bottom:5px;">

                <h4 class="bp3-heading">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} Success {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} Warning {% endif %}
                </h4>
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}


            {% comment %} {% if messages %}
            {% for message in messages %}
            <div class="alert 
                        alert-outline
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} alert-warning {% endif %}
                        " style="border-radius:5px;">

                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} Success {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} Warning {% endif %}
                -
                {{ message }}
            </div>
            {% endfor %}
            {% endif %} {% endcomment %}


            {% block content %}
            {% endblock content %}
        </div>

    </div><!-- content -->

    <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script src="{% static "lib/feather-icons/feather.min.js" %}"></script>
    <script src="{% static "js/cassie.js" %}"></script>

    <script>
        let cls = () => console.clear();
    </script>

    {% block js %}
    {% endblock js %}

</body>

</html>