{% load static %}
{% load cs_auth_tags %}
{% user_college_pk as user_college_id %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>

    <link href="{% static "css/fonts.css" %}" rel="stylesheet" />

    <link href="{% static "css/vendor/normalize.min.css" %}" rel="stylesheet" />
    <link href="{% static "lib/@blueprintjs/core/lib/css/blueprint.min.css" %}" rel="stylesheet" />
    <link href="{% static "lib/@blueprintjs/icons/lib/css/blueprint-icons.css" %}" rel="stylesheet" />


    <link href="{% static "css/basev.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/grid.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/app2.css" %}" rel="stylesheet">

    {% block css %}
    {% endblock css %}

</head>

<body class="toggle-siddebar">

    <div class="sidebar">

        <div class="sidebar-home">
            <a href="/">
                {% comment %} <img style="width:100%;height: 100%" src="{% static 'img/logo.png' %}" alt="">
                {% endcomment %}
            </a>
        </div>

        <div class="sidebar-body">
            <ul class="nav nav-sidebar">
                <li class="nav-label">
                    <label>Navigation</label>
                </li>

                {% check_type 0 as flag %}
                {% if flag %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:manage' %}" class="nav-link {% block sn-manage %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-comparison nav-list-icon"></span>
                        Manage
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'sl_u:view-transfers' %}" class="nav-link {% block sn-transfers %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-exchange nav-list-icon"></span>
                        Staff Transfers
                    </a>
                </li>
                {% endif %}

                {% check_type 1 as flag %}
                {% if flag %}


                {% auth_check 'staff' 'read' 'write' as flag_2 %}
                {% if flag_2 %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-staff' user_college_id %}"
                        class="nav-link {% block sn-staff %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-people nav-list-icon"></span>
                        Staff
                    </a>
                </li>
                {% endif %}

                {% auth_check 'sections' 'read' 'write' as flag_2 %}
                {% if flag_2 %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-sections' user_college_id %}"
                        class="nav-link {% block sn-sections %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-group-objects nav-list-icon"></span>
                        Sections
                    </a>
                </li>
                {% endif %}

                {% auth_check 'timetable' 'read' 'write' as flag_2 %}
                {% if flag_2 %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-timetable' user_college_id %}"
                        class="nav-link {% block sn-tables %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-timeline-events nav-list-icon"></span>
                        Time Tables
                    </a>
                </li>
                {% endif %}

                {% auth_check 'atnd_today' 'read' 'write' as flag_2 %}
                {% if flag_2 %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:today-atnd' user_college_id %}"
                        class="nav-link {% block sn-atnd %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-highlight nav-list-icon"></span>
                        Attendance
                    </a>
                </li>
                {% endif %}

                {% auth_check 'lec_record_today' 'read' 'write' as flag_2 %}
                {% if flag_2 %}
                <li class="nav-item">
                    <a href="{% url 'sl_u:view-lecture-today' user_college_id %}"
                        class="nav-link {% block sn-lecrd %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-send-to-graph nav-list-icon"></span>
                        Lecture Recording
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{% url 'sl_u:view-atndauth' user_college_id %}"
                        class="nav-link {% block sn-atndauth %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-automatic-updates nav-list-icon"></span>
                        AAuth
                    </a>
                </li>
                {% endif %}

            </ul>

            <hr>

            <ul class="nav nav-sidebar">
                <li class="nav-label">
                    <label>Reporting</label>
                </li>

                <li class="nav-item">
                    <a href="{% url 'sl_u:view-reports-main' %}" class="nav-link {% block sn-reports %}{% endblock %}">
                        <span class="bp3-icon-large bp3-icon-layout-hierarchy nav-list-icon"></span>
                        Reports
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div class="content">

        <div class="header">
            <div class="header-left">
                <a href="" class="burger-menu link-no-underline">
                    {% comment %} <i data-feather="menu"></i> {% endcomment %}
                    <span class="bp3-icon-large bp3-icon-menu"></span>
                </a>
            </div>

            <div class="header-right">
                <button class="bp3-button bp3-outlined bp3-intent-danger bp3-fill"
                    onclick="location.href='{% url 'sl_u:logout' %}'">
                    <span class="bp3-button-text">Logout</span>
                    <span class="bp3-icon bp3-icon-log-out"></span>
                </button>
            </div>
        </div>


        <div class="content-title">
            <span class="title-text">
                {% block title %}{% endblock %}
            </span>


            {% if messages %}
            {% for message in messages %}

            <div class="app-alert bp3-callout
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} bp3-icon-error bp3-intent-danger
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} bp3-icon-tick-circle bp3-intent-success
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} bp3-icon-warning-sign bp3-intent-warning
                        {% endif %}
                        " style="margin:10px 0;">

                <h4 class="bp3-heading">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} Success {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} Warning {% endif %}
                </h4>
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}

            <hr>

        </div>

        <div class="content-body">
            {% comment %} hello {% endcomment %}
            {% block content %}
            {% endblock content %}
        </div>

    </div>



    {% comment %} <script src="{% static "lib/feather-icons/feather.min.js" %}"></script> {% endcomment %}
    {% comment %} <script src="{% static "lib/jquery/jquery.min.js" %}"></script> {% endcomment %}
    <script src="{% static "js/htmlapp.js" %}"></script>

    {% block js %}
    {% endblock js %}

</body>

</html>