{% load cs_auth_tags %}

<div id="dpSidebarBody" class="sidebar-body" style="overflow: auto;">
    <ul class="nav nav-sidebar">
        <li class="nav-label"><label class="content-label">Navigation</label></li>

        {% check_type 0 as chres %}
        {% if chres %}
        <li class="nav-item">
            <a href="{{ 'manage' }}" class="nav-link {% block sn_mg %}{% endblock %}">
                <i data-feather="folder"></i>
                Manage
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link @yield('sn-reports', '')">
                <i data-feather="bar-chart-2"></i>
                Reports
            </a>
        </li>
        {% endif %}

        {% check_type 1 as chres %}
        {% if chres %}
        <li class="nav-item">
            <a href="{% url 'sl_u:view-staff' user_college_id %}" class="nav-link @yield('sn-staff', '')">
                <i data-feather="users"></i>
                Staff
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sl_u:view-sections' user_college_id %}" class="nav-link @yield('sn-sections', '')">
                <i data-feather="layers"></i>
                Sections
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sl_u:view-timetable' user_college_id %}" class="nav-link @yield('sn-ttable', '')">
                <i data-feather="grid"></i>
                Time Tables
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sl_u:today-atnd' user_college_id %}" class="nav-link @yield('sn-atnd', '')">
                <i data-feather="user-check"></i>
                Attendance
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sl_u:view-lecture-today' user_college_id %}" class="nav-link @yield('sn-lec', '')">
                <i data-feather="clipboard"></i>
                Lecture Recording
            </a>
        </li>
        {% endif %}

    </ul>

    <hr>

    <ul class="nav nav-sidebar">
        <li class="nav-label"><label class="content-label">Reporting</label></li>

        <li class="nav-item">
            <a href="#" class="nav-link @yield('sn-rep-lecture-sheet', '')">
                <i data-feather="bar-chart-2"></i>
                Lecture Sheet
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link @yield('sn-reports', '')">
                <i data-feather="bar-chart-2"></i>
                Salary Sheet
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link @yield('sn-reports', '')">
                <i data-feather="bar-chart-2"></i>
                Attendance Sheet
            </a>
        </li>

    </ul>

</div>