package-lock.json

*.map
*.pyc

/migrate.sh
/migrate-fresh.sh
/upload.sh
/upload-h.sh
/download.sh

node_modules/
.vscode/
__pycache__/

/files/
/bin/
/env/
/static/
/run/


/salary/migrations/
/base/settings/environs/

/storage/sessions/
/salary/frontend/dist/
/act
/t



