package-lock.json

*.map
*.pyc

/__old

node_modules/
.vscode/
__pycache__/

/files/
/bin/
/env/
/static/
/run/


/migrations/
/config/environs/

/storage
/app/salary/frontend/reactapp/dist
/act
/t



