.add-section-t {
    /* position: absolute; */
    /* bottom: 2px; */
    margin-top: 45px;
}

.profile-body {
    width: calc(100vw - 30px);
    background-color: #fff;
    border: 1px solid rgba(230, 231, 239, 0.85);
    box-shadow: 0 4px 12px 0 rgba(131, 146, 165, 0.15);
}

@media (min-width: 992px) {
    .profile-body {
        flex: 1;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.profile-body-header {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

@media (min-width: 576px) {
    .profile-body-header {
        height: 60px;
        overflow: visible;
    }
}

.profile-body-header .nav-wrapper {
    width: 100%;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (min-width: 576px) {
    .profile-body-header .nav-wrapper {
        width: auto;
        height: auto;
    }
}

.profile-body-header .nav-line {
    min-width: 360px;
    padding: 0 15px;
    border-bottom-width: 1px;
}

@media (min-width: 576px) {
    .profile-body-header .nav-line {
        padding: 0 20px;
    }
}

.profile-body-header .nav-link {
    padding: 20px 0 18px;
    font-weight: 500;
    color: #575d78;
    white-space: nowrap;
}

.profile-body-header .nav-item {
    line-height: 5px !important;
}

@media (min-width: 992px) {
    .profile-body-header .nav-link {
        padding: 20px 0;
    }
}

.profile-body-header .nav-link:hover, .profile-body-header .nav-link:focus {
    color: #373857;
}

.profile-body-header .nav-link.active {
    color: #5556fd;
}

.profile-body-header .nav-link.active::after {
    bottom: -1px;
    background-color: #5556fd;
    height: 1px;
}

div.nav-wrapper {
    overflow-y: auto !important;
    height: 100% !important;
}