{% extends 'sl/basev.html' %}
{% comment %} {% extends 'sl/app_base.html' %} {% endcomment %}
{% load static %}
{% block title %}Time Table <small>({{server_data.college.name}})</small>{% endblock %}
{% block sn-manage %}active{% endblock %}
{% block sn-tables %}active{% endblock %}

{% block css %}
<link href="{% static "bundles/css/vendors.css" %}?v=1" rel="stylesheet">
<link href="{% static "bundles/css/timetables.css" %}?v=1" rel="stylesheet">
{% endblock css %}

{% comment %} * CONTENT * {% endcomment %}
{% block content %}

{% comment %} <label class="bp3-label bp3-inline">
    <strong class="mr-tag">Branch: </strong>
    <div class="bp3-select">
        <select id='branch_id'>
            <option value="1">Main</option>
            <option value="2">
                Holiday 1 (17-Oct-2020 - 2-Nov-2020)
            </option>
        </select>
    </div>
</label> {% endcomment %}

{% comment %} <hr> {% endcomment %}


<div id="root"></div>
{% endblock content %}

{% block js %}
{{ server_data|json_script:"__server_data" }}
<script>
    window.TOKEN = "{{ csrf_token|escapejs }}";
    window.SERVER_DATA = JSON.parse(document.getElementById('__server_data').textContent);
</script>
<script src="{% static "bundles/js/vendors.js" %}?v=1"></script>
<script src="{% static "bundles/js/timetables.js" %}?v=1"></script>
{% endblock js %}