{% if info.table is not None %}
<div class="row row-sm">
    <div class="col-md-8">
        <form autocomplete="off" action="{% url 'sl_u:view-add-section-table' table_id=info.table.pk %}" method="GET">
            <div class="row row-sm">
                <div class="col-md-4">
                    <div class="label-box label-box-bordered" style="width: 100%;">Add Section({{ info.day_name }})
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="custom-select" name="section_id">
                        {% for section in active_sections %}
                        <option value="{{ section.id }}">{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form autocomplete="off" action="{% url 'sl_u:delete-table' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="table_id" value="{{info.table.pk}}">
            <button type="submit" class="btn btn-danger" style="float: right;">Delete This Time Table</button>
        </form>
    </div>
</div>


<div class="table-responsive" style="margin-top: 10px">
    <table class="table table-sm table-hover table-bordered center-table">
        <thead>
            <tr>
                <th>Section</th>

                {% for lecture in info.lectures_sorted %}
                <th>{{ lecture.format_name }}</th>
                {% endfor %}

            </tr>

            <tr>
                <th></th>
                {% for lecture in info.lectures_sorted %}
                <th>
                    <small>
                        <strong>
                            {{ lecture.time_start|time:"h:i A" }}
                            -
                            {{ lecture.time_end|time:"h:i A" }}
                        </strong>
                    </small>
                </th>
                {% endfor %}
            </tr>

        </thead>
        <tbody>
            {% for row in info.section_rows %}
            <tr>
                <th>{{row.section_name}}</th>
                {% for cell in row.cells  %}
                <td data-cell-id="{{cell.pk}}">
                    {% if cell == None %}
                    N/A
                    {% else %}
                    {{ cell.subject_name }}<br>({{ cell.faculty_name }})
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!-- table-responsive -->

{% else %}
<div class="create_table_form" data-day="{{ info.weekday_num }}" data-num-lectures='0'>

    <div class="row row-sm" style="margin-top: 0px; padding-right: 30px;">
        <div class="col-md-4">
            <div class="t_lecture_num label-box" style="width: 100%;">
                Create Time Table for {{ info.day_name }}:
            </div>
        </div>
        <div class="col-md-4">
            <input type="number" class="form-control table_num_lectures" placeholder="No. of slots" autocomplete="off">
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-block btn-primary create_table">Create</button>
        </div>
    </div>

    <br>


    <div class="card lecture_rows_card" hide>
        <div class="card-body">

            <div class="lecture_row_header">
                <div class="row row-sm" style="margin-bottom: 10px">
                    <div class="col-3" style="margin-top: 10px">
                        <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);"
                            class="tx-14 tx-color-01 mg-b-2">
                            Lectures:
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);"
                            class="tx-14 tx-color-01 mg-b-2">
                            Lecture Type:
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);"
                            class="tx-14 tx-color-01 mg-b-2">
                            Start Time:
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);"
                            class="tx-14 tx-color-01 mg-b-2">
                            End Time:
                        </label>
                    </div>
                </div>
            </div>


            <div class="lecture_rows_container">
            </div>

            <button type="button" data-type="submit" class="btn btn-danger go-slots-btn" style="margin-top: 25px">
                Go
            </button>

        </div>
    </div>

</div>

<div id="lecture_row_template" class="slot_row" data-slot-num='0' hide>
    <div class="row row-sm" style="margin-bottom: 10px">
        <div class="col-md-3" style="margin-top: 10px">
            <div class="t_slot_num label-box label-box-bordered" style="width: 100%;"> </div>
        </div>
        <div class="col-md-3" style="margin-top: 10px">
            <select autocomplete="off" class="custom-select l_type">
                <option value="{{LectureType.NORMAL}}">Normal</option>
                <option value="{{LectureType.BREAK}}">Break</option>
                <option value="{{LectureType.ZERO}}">Zero Period</option>
            </select>
        </div>
        <div class="col-md-3" style="margin-top: 10px">
            <input type="time" class="form-control time_start" placeholder="Time in">
        </div>
        <div class="col-md-3" style="margin-top: 10px">
            <input type="time" class="form-control time_end" placeholder="Time in">
        </div>
    </div>
</div>

{% endif %}