{% extends 'sl/basev.html' %}
{% block title %}Lecture Recording ({{college.name}}){% endblock %}

{% block sn-manage %}active{% endblock %}
{% block sn-lecrd %}active{% endblock %}


{% block content %}
<div class="component-section" style="margin-bottom: 10px">

    {% for lecture in lectures  %}

    <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);" class="tx-14 tx-color-01 mg-b-2">
        {{ lecture.lecture_name }} <small>({{ lecture.time_start }} - {{lecture.time_end}})</small>:
    </label>

    <div class="table-responsive" style="margin-top: 10px">
        <table class="table table-sm center-table-v table-bordered">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Teacher</th>
                    <th>Subject</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for row in lecture.rows  %}
                <tr>
                    <th>{{row.section_name}}</th>
                    <td>{{row.faculty_name}}</td>
                    <td>{{row.subject_name}}</td>
                    <td>

                        {% if row.completion.status == LectureRecordStatus.UNSPEC %}
                        <form action="{% url 'sl_u:mark-lec' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="college_id" value="{{ college.id }}">
                            <input type="hidden" name="cell_id" value="{{ row.cell_pk }}">
                            <button 
                                type="submit" 
                                class="bp3-button bp3-fill bp3-small bp3-intent-success bp3-minimal bp3-icon-draw"
                            >
                                Mark as Completed
                            </button>
                        </form>



                        {% elif row.completion.status == LectureRecordStatus.COMPLETED %}

                        <span class="bp3-tag bp3-intent-success tag-large bp3-minimal">
                            <span class="bp3-text-overflow-ellipsis bp3-fill">Completed</span>
                            <span class="bp3-icon bp3-icon-automatic-updates"></span>
                        </span>


                        {% elif row.completion.status == LectureRecordStatus.FIXED %}

                        <span class="bp3-tag bp3-intent-primary tag-large bp3-minimal">
                            <span class="bp3-text-overflow-ellipsis bp3-fill">Fixed by {{row.completion.info}}</span>
                            <span class="bp3-icon bp3-icon-user"></span>
                        </span>


                        {% endif %}
                    </td>

                    <td>
                        {% if row.fixture_available %}
                        <a 
                            role="button" 
                            class="bp3-button bp3-fill bp3-small bp3-icon-user bp3-intent-warning bp3-minimal"
                            href="{% url 'sl_u:view-apply-fix' college.id row.cell_pk %}"
                        >
                            Apply Fixture
                        </a>
                        {% else %}
                        <span><i>Fixture not available</i></span>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock content %}