{% extends 'sl/basev.html' %}
{% block title %}Attendance <small>({{college.name}})</small>{% endblock %}

{% block sn-manage %}active{% endblock %}
{% block sn-atnd %}active{% endblock %}

{% block content %}
<div class="mt-md">


    {% if is_closed %}
    {% comment %} <div class="alert alert-outline alert-primary" style="border-radius:5px;"> {% endcomment %}
        {% comment %} Attendance is not open for this day {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="app-alert bp3-callout bp3-icon-warning-sign bp3-intent-primary">
        <h4 class="bp3-heading">
            Today is a holiday
        </h4>
        Attendance is not open for this day
    </div>


    {% else %}
    <label style="margin-bottom: 2px; font-weight: 500;color:rgb(6, 7, 45);" class="tx-14 tx-color-01 mg-b-2">Today's
        Attendance</label>
    <p style="font-size: 12px;color:rgb(87, 93, 120);">
        <strong>Note:</strong>
        'Time in' and 'Time out' field cannot be changed once submitted.
    </p>

    {% for row in atnd_rows %}
    <form action="{% url 'sl_u:update-atnd' %}" method="POST" autocomplete="off">

        {% csrf_token %}
        <input type="hidden" name="college_id" value="{{ college.id }}">
        <input type="hidden" name="staff_id" value="{{ row.staff_id }}">

        <div class="bp3-control-group" style="margin-bottom: 10px">

            <span class="bp3-tag bp3-minimal bp3-intent-success">
                Name:
            </span>

            <span style="min-width: 150px" class="bp3-tag bp3-minimal bp3-large">
                <strong>
                    {{ row.staff_name }}
                </strong>
            </span>

            <span class="bp3-tag bp3-minimal bp3-intent-success">
                Status:
            </span>

            <div class="bp3-select">
                <select name="leave_status" {{ row.leave_locked|yesno:"disabled," }}>
                    {% for leave_option in row.available_leaves %}
                    <option value="{{ leave_option.id }}" {{ leave_option.current|yesno:"selected," }}>
                        {{leave_option.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="bp3-input-group" style="min-width: 175px">
                <div class="bp3-input-action">
                    <span class="bp3-tag bp3-minimal bp3-intent-primary">
                        Time in:
                    </span>
                </div>
                <input type="time" name="time_in" class="bp3-input no-intent" style="padding-left: 65px"
                    value="{{ row.time_in }}" {{ row.time_in_locked|yesno:"disabled,," }} />
            </div>


            <div class="bp3-input-group" style="min-width: 180px">
                <div class="bp3-input-action">
                    <span class="bp3-tag bp3-minimal bp3-intent-primary">
                        Time out:
                    </span>
                </div>
                <input type="time" name="time_out" class="bp3-input no-intent" style="padding-left: 70px"
                    value="{{ row.time_out }}" {{ row.time_out_locked|yesno:"disabled,," }} />
            </div>



            <button type="submit" style="min-width:80px" class="bp3-button bp3-intent-primary bp3-fill">
                <span class="bp3-button-text">Save</span>
                <span class="bp3-icon bp3-icon-pin"></span>
            </button>

        </div>

    </form>
    {% endfor %}
    {% endif %}


    {% comment %} <div class="table-responsive" style="margin-top: 10px">
        <table class="table table-sm center-table-v table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Time in</th>
                    <th>Time out</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>ABC</td>
                    <td>
                        <div class="bp3-select">
                            <select name="leave_status" {{ row.leave_locked|yesno:"disabled," }}>
                                <option value="1">Not Yet Specified</option>
                                <option value="1">Present</option>
                                <option value="1">Absent</option>
                            </select>
                        </div>
                    </td>
                    <td>
    
                        <input type="time" name="time_out" class="bp3-input no-intent"
                            value="{{ row.time_out }}" {{ row.time_out_locked|yesno:"disabled,," }} />
                    </td>
                    <td>
                         <input type="time" name="time_out" class="bp3-input no-intent" value="{{ row.time_out }}"
                             {{ row.time_out_locked|yesno:"disabled,," }} />
                    </td>
                    <td>
                    <button type="button" style="min-width:80px" class="bp3-button bp3-intent-primary bp3-fill">
                        <span class="bp3-button-text">Save</span>
                        <span class="bp3-icon bp3-icon-pin"></span>
                    </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div> {% endcomment %}


</div>
{% endblock content %}