{% extends 'sl/basev.html' %}
{% block title %}User Account{% endblock %}

{% block sn-manage %}active{% endblock %}


{% block content %}

<div class="component-section">
    {% comment %} <h4 class="tx-semibold">User Account for {{role_param.name}}</h4> {% endcomment %}

    <div class="row row-sm">
        <div class="col-md-3">
            <h6 class="bp3-heading mb-md">Create User Account for {{role_param.staff.name}}</h6>


            <form action="{% url 'sl_u:add-user' %}" method="POST">

                {% csrf_token %}

                <input type="hidden" name="role_param_id" value="{{role_param.pk}}">


                <label class="bp3-label">
                    Username
                    <div class="bp3-input-group bp3-fill">
                        <span class="bp3-icon bp3-icon-user"></span>
                        <input type="text" class="bp3-input no-intent" name="username" placeholder="Enter username" />
                    </div>
                </label>


                <label class="bp3-label">
                    Password
                    <div class="bp3-input-group bp3-fill">
                        <span class="bp3-icon bp3-icon-lock"></span>
                        <input type="password" class="bp3-input no-intent" name="password"
                            placeholder="Enter password" />
                    </div>
                </label>


                <label class="bp3-label">
                    Confim Password
                    <div class="bp3-input-group bp3-fill">
                        <span class="bp3-icon bp3-icon-confirm"></span>
                        <input type="password" class="bp3-input no-intent" name="conf_password"
                            placeholder="Retype password" />
                    </div>
                </label>

                <br>

                <button class="bp3-button bp3-fill bp3-outlined bp3-intent-warning bp3-icon-add">Create</button>


            </form>

        </div>
    </div>

</div>
{% endblock content %}