{% extends 'sl/basev.html' %}
{% block title %}{{college.name}} Holidays{% endblock %}

{% block sn-manage %}active{% endblock %}
{% block sn-hldays %}active{% endblock %}


{% block content %}

<div class="component-section" style="margin-bottom: 10px">
    <h5 class="tx-semibold">{{ month_name }} Holidays</h5>

    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered mg-b-0">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Remarks</th>
                    <th>Attendance Open</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for hl in holidays %}
                <tr>
                    <td>{{hl.date_start}}</td>
                    <td>{{hl.date_end}}</td>
                    <td>{{hl.remarks}}</td>
                    <td>{{hl.atnd_open}}</td>
                </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="component-section">


    <h5 class="tx-semibold">Add Local Holiday</h5>

    <form autocomplete="off" action="{% url 'sl_u:add-holidays' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="college_id" value="{{ college.id }}">

        <div class="row row-sm">
            <div class="col-md-3">
                <label class="m-label">From</label>
                <input type="date" class="form-control" name="date_start">
            </div>
            <div class="col-md-3">
                <label class="m-label">To</label>
                <input type="date" class="form-control" name="date_end">
            </div>
            <div class="col-md-4">
                <label class="m-label">Remarks</label>
                <textarea name="remarks" class="form-control"></textarea>
            </div>

            <div class="col-md-2">
                <label class="m-label">Attendance Open</label>
                <select class="custom-select" name="atnd_open">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
                {% comment %} <div class="custom-control custom-checkbox" style="margin-top: 50px;">
                    <label class="pure-material-checkbox">
                        <input type="checkbox">
                        <span>Allow Attendance</span>
                    </label>
                </div> {% endcomment %}
            </div>

        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 25px">Create</button>

    </form>


</div>

{% endblock content %}