{% extends 'sl/basev.html' %}
{% comment %} {% extends 'sl/app_base.html' %} {% endcomment %}
{% load static %}
{% block title %}Tansfers{% endblock %}
{% block sn-transfers %}active{% endblock %}

{% block css %}
<link href="{% static "bundles/css/vendors.css" %}?v=1" rel="stylesheet">
{% comment %} <link href="{% static "bundles/css/transfers.css" %}?v=1" rel="stylesheet"> {% endcomment %}
{% endblock css %}

{% comment %} * CONTENT * {% endcomment %}
{% block content %}
{% comment %} <div id="root"></div> {% endcomment %}
<div id="root">
    {% comment %} <h6 class="bp3-heading">Transfer Staff</h6>
    <div class="row mt-md">
        <div class="col-md-6 mb-md">


            <label class="bp3-label">
                Source College
                <div class="bp3-select bp3-fill">
                    <select name="college_id">
                        {% for c in server_data.colleges %}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>

            <label class="bp3-label">
                Staff to transfer
                <div class="bp3-select bp3-fill">
                    <select name="college_id">
                        {% for s in server_data.colleges.0.staffs %}
                        <option value="{{s.id}}">{{s.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>


            <label class="bp3-label">
                With Effect From
                <div class="bp3-input-group bp3-fill">
                    <span class="bp3-icon bp3-icon-automatic-updates"></span>
                    <input type="text" class="bp3-input no-intent" name="username" placeholder="Select Date" />
                </div>
            </label>

        </div>


        <div class="col-md-6 mb-md">

            <label class="bp3-label">
                Destination College
                <div class="bp3-select bp3-fill">
                    <select name="college_id">
                        {% for c in server_data.colleges %}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>

            <button class="bp3-button bp3-outlined bp3-intent-success">
                <span class="bp3-button-text">Transfer</span>
                <span class="bp3-icon bp3-icon-changes"></span>
            </button>


        </div>
    </div> {% endcomment %}
</div>

{% endblock content %}

{% block js %}
{{ server_data|json_script:"__server_data" }}
<script>
    window.SERVER_DATA = JSON.parse(document.getElementById('__server_data').textContent);
</script>
<script src="{% static "bundles/js/vendors.js" %}?v=1"></script>
<script src="{% static "bundles/js/transfers.js" %}?v=1"></script>
{% endblock js %}