{% extends 'sl/basev.html' %}
{% block title %}{{college.name}} Staff{% endblock %}

{% block sn-manage %}active{% endblock %}
{% block sn-staff %}active{% endblock %}



{% block content %}

<div>
    <h6 class="bp3-heading">Add Staff</h6>

    <form autocomplete="off" action="{% url 'sl_u:add-staff' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="college_id" value="{{ college.id }}">

        <div class="row row-sm mt-md">

            <div class="col-md-3">
                <label class="bp3-label">
                    Fullname
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="name" placeholder="Enter name" />
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    CNIC
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="cnic" placeholder="Enter CNIC" />
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    Gender
                    <div class="bp3-select bp3-fill">
                        <select name="gender">
                            <option value="{{ Gender.MALE }}">Male</option>
                            <option value="{{ Gender.FEMALE }}">Female</option>
                        </select>
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    Bank Account No
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="bank_acc" placeholder="Enter name" />
                    </div>
                </label>
            </div>

        </div>

        <div class="row row-sm">
            <div class="col-md-3">
                <label class="bp3-label">
                    Role
                    <div class="bp3-select bp3-fill">
                        <select name="role">
                            {% for role_info in all_roles %}
                            <option value="{{ role_info.role }}">{{ role_info.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </label>
            </div>
            <div class="col-md-2">
                <label class="bp3-label">
                    Subject
                    <div class="bp3-select bp3-fill">
                        <select name="subject_id">
                            {% for subject in subjects %}
                            <option value="{{ subject.pk }}">{{ subject.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    Category
                    <div class="bp3-select bp3-fill">
                        <select name="category">
                            <option value="{{ FacultyCategory.FAC_CATERGORY_M }}">
                                Morning
                            </option>
                            <option value="{{ FacultyCategory.FAC_CATERGORY_M_AND_E }}">
                                Morning &amp; Evening
                            </option>
                            <option value="{{ FacultyCategory.FAC_CATERGORY_M_PLUS_E }}">
                                Morning + Evening
                            </option>
                            <option value="{{ FacultyCategory.FAC_CATERGORY_V }}">
                                Visiting
                            </option>
                        </select>
                    </div>
                </label>
            </div>
            <div class="col-md-2">
                <label class="bp3-label">
                    Workload
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="w_agreed" placeholder="Enter workload" />
                    </div>
                </label>
            </div>
            <div class="col-md-2">
                <label class="bp3-label">
                    Extra Lecture Rate
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="x_rate" placeholder="Enter rate" />
                    </div>
                </label>
            </div>
        </div>

        <div class="row row-sm">
            <div class="col-md-3">
                <label class="bp3-label">
                    Salary
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="salary" placeholder="Enter salary" />
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    DOJ KIPS
                    <div class="bp3-input-group bp3-fill">
                        <input type="date" class="bp3-input no-intent" value="{% now "Y-m-d" %}" name="init_date"
                            placeholder="Enter salary" />
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    DOJ Campus
                    <div class="bp3-input-group bp3-fill">
                        <input type="date" class="bp3-input no-intent" value="{% now "Y-m-d" %}" name="transfer_date"
                            placeholder="Enter salary" />
                    </div>
                </label>
            </div>
            <div class="col-md-3">
                <label class="bp3-label">
                    ERP Number
                    <div class="bp3-input-group bp3-fill">
                        <input type="text" class="bp3-input no-intent" name="erp_number" placeholder="Enter salary" />
                    </div>
                </label>
            </div>

        </div>


        <button type='submit' class="bp3-button bp3-outlined bp3-intent-warning bp3-icon-add">Create</button>
    </form>


</div>

<hr>



<div>
    {% comment %} <h5 class="tx-semibold">Active Staff</h5> {% endcomment %}
    <h6 class="bp3-heading mb-sm">Active Staff</h6>


    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered mg-b-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CNIC</th>
                    {% comment %} <th>Bank Acc</th> {% endcomment %}
                    <th style="border-right-width: 3px">Gender</th>
                    <th>Role</th>
                    <th>Subject</th>
                    <th>Category</th>
                    <th>Workload</th>
                    <th>Extra Lecture Rate</th>
                    <th>Salary <small><strong>(PKR)</strong></small></th>

                    <th>User Account</th>

                </tr>
            </thead>
            <tbody>

                {% if college_staffs|length == 0 %}
                <tr>
                    <td colspan="11" style="text-align: center;padding: 20px 0 !important;">
                        <span style="font-size: 20px;font-weight: 500;">Empty</span>
                    </td>
                </tr>
                {% endif %}


                {% for staff in college_staffs  %}

                {% with role_param_count=staff.role_param_count %}
                <tr>
                    <td style="vertical-align:middle;" rowspan="{{ role_param_count|add:2 }}">
                        {{ staff.staff_obj.person.name }}
                    </td>
                    <td style="vertical-align:middle;" rowspan="{{ role_param_count|add:2 }}">
                        {{ staff.staff_obj.person.cnic }}
                    </td>
                    <td style="vertical-align:middle;border-right-width: 3px" rowspan="{{ role_param_count|add:2 }}">
                        {{ staff.staff_obj.person.format_gender_name }}
                    </td>
                </tr>
                {% endwith %}


                {% for param in staff.role_params %}
                <tr>
                    <td>{{ param.format_role_name }}</td>

                    {% comment %} null for admin {% endcomment %}
                    <td>{{ staff.staff_obj.format_subject_name }}</td>
                    <td>{{ param.format_category_name }}</td>
                    <td>{{ param.format_agreed_workload }}</td>
                    <td>{{ param.format_x_rate }}</td>
                    {% comment %} /null for admin {% endcomment %}

                    <td>{{ param.format_salary }}</td>

                    <td>
                        {% if param.is_faculty %}
                        -
                        {% else %}
                        {% if param.user_acc_exists %}
                        Yes
                        {% else %}
                        No <a href="{% url 'sl_u:view-create-acc' param.pk %}">(Create)</a>
                        {% endif %}
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}

                <tr>
                    <td colspan='7' style="text-align: center">
                        <strong>
                            {% comment %} <a href="{% url 'sl_u:view-add-role' staff.staff_obj.pk %}"> {% endcomment %}
                                <a href="#">
                                    Add Role
                                </a>
                        </strong>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div><!-- table-responsive -->
</div>


{% endblock content %}