{% extends 'bs/basev.html' %}
{% block title %}Sections{% endblock %}

{% block sn-manage %}active{% endblock %}
{% block sn-sections %}active{% endblock %}


{% block content %}
<div>
    <h3 class="bp3-heading heading-thin">Logical Sections</h3>


    <div class="row row-sm" style="margin-top: 10px">
        <div class="col-md-6">
            <h6 class="bp3-heading">Sections Added</h6>

            <ul>
                {% for section in regular_sections  %}
                <li>{{ section.name }}</li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-6">
            <h6 class="bp3-heading mb-sm">Add Logical Section</h6>

            <form action="{% url 'sl_u:Section.AddReg' %}" method="POST">
            {% comment %} <form> {% endcomment %}
                {% csrf_token %}
                <input type="hidden" name="college_id" value="{{ college.id }}">

                <div class="bp3-input-group mb-sm">
                    <input type="text" class="bp3-input no-intent" name="name" placeholder="Enter section name" />
                </div>

                <button type="submit" class="bp3-button bp3-fill bp3-outlined bp3-intent-warning bp3-icon-add">
                    Add
                </button>
            </form>
        </div>
    </div>
</div>

<hr>

<div class="component-section">
    <h3 class="bp3-heading heading-thin">Combined Sections</h3>


    <div class="row row-sm" style="margin-top: 10px">

        <div class="col-md-6">
            <h6 class="bp3-heading">Combined Sections Added</h6>

            <ul>

                {% for section_name, children in merged_sections_formatted  %}
                <li>
                    {{section_name}} - ({{children}})
                </li>
                {% endfor %}

            </ul>

        </div>


        <div class="col-md-6">
            <h6 class="bp3-heading mb-sm">Combine New Sections</h6>

            <form method="POST" action="{% url 'sl_u:Section.AddMerged' %}">
                {% csrf_token %}
                <input type="hidden" name="college_id" value="{{ college.id }}">

                <div class="bp3-input-group mb-sm">
                    <input type="text" class="bp3-input no-intent" name="name" placeholder="Enter section name" />
                </div>


                <div class="bp3-fill">
                    <select multiple autocomplete="off" name="section_id">
                        {% for section in regular_sections  %}
                        <option value="{{ section.id }}">{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="bp3-button bp3-fill bp3-outlined bp3-intent-warning bp3-icon-add">
                    Add
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}